In [ ]:
import os
os.chdir("/content/drive/MyDrive/Colab Notebooks/BDMH_ASSIG")
os.getcwd()

'/content/drive/MyDrive/Colab Notebooks/BDMH_ASSIG'

In [ ]:
pip install keras-tuner

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting keras-tuner
  Downloading keras_tuner-1.3.5-py3-none-any.whl (176 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 176.1/176.1 kB 5.4 MB/s eta 0:00:00
Requirement already satisfied: packaging in /usr/local/lib/python3.10/dist-packages (from keras-tuner) (23.1)
Collecting kt-legacy
  Downloading kt_legacy-1.0.5-py3-none-any.whl (9.6 kB)
Requirement already satisfied: requests in /usr/local/lib/python3.10/dist-packages (from keras-tuner) (2.27.1)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.10/dist-packages (from requests->keras-tuner) (3.4)
Requirement already satisfied: charset-normalizer~=2.0.0 in /usr/local/lib/python3.10/dist-packages (from requests->keras-tuner) (2.0.12)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.10/dist-packages (from requests->keras-tuner) (2022.12.7)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /usr/local/lib/python3.10/dist-packages (from requests->keras-tuner) (1.26.15)
Installing collected packages: kt-legacy, keras-tuner
Successfully installed keras-tuner-1.3.5 kt-legacy-1.0.5

In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.feature_selection import SelectKBest, f_classif
import tensorflow as tf
from tensorflow import keras
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense
from tensorflow.keras.layers import Dropout
from tensorflow.keras.callbacks import EarlyStopping
from tensorflow.keras.optimizers import Adam
from tensorflow.keras import regularizers
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import MinMaxScaler
from tensorflow.keras import layers
from kerastuner.tuners import RandomSearch

<ipython-input-3-2e58e191899e>:18: DeprecationWarning: `import kerastuner` is deprecated, please use `import keras_tuner`.
  from kerastuner.tuners import RandomSearch

In [ ]:
dataset=pd.read_csv("kaggle_train.csv")
dataset

,Labels,ACAN,AGER,ALPK1,ANKRD17,APOB,APPL1,APPL2,ARRB2,ASGR1,...,UBE2N,UBE2V1,UBQLN1,UFD1,UNC93B1,USP17L2,VCAN,WDFY1,XIAP,ZCCHC3
0,0,13.6584,88.0205,402.5420,1424.2625,3.7940,1001.2330,508.0148,567.2010,13.6584,...,2437.6363,3413.2107,4135.4453,950.0104,1434.1269,0.0000,31.8695,923.0769,1046.0021,819.1217
1,0,22.0844,86.3807,690.4861,2226.3285,20.4071,486.9744,1448.0640,651.9083,11.1820,...,2153.9253,1817.3762,3426.4325,1380.1196,815.7241,0.0000,1651.0166,1473.7825,1618.8684,615.8465
2,0,32.7422,53.0820,128.4882,1073.0497,0.0000,654.8431,492.6206,512.9604,13.8906,...,3122.4110,3720.6995,3000.3721,2681.3791,1429.2447,0.4961,693.5384,477.2417,1064.6161,804.1672
3,0,22.7975,42.1175,634.0804,3285.5487,0.0000,574.9614,513.9104,1033.2303,31.6847,...,2663.4467,3217.9212,4131.3756,1178.8640,1018.5471,0.0000,675.0386,1596.5997,1666.1515,402.6275
4,0,2.5000,134.0625,532.1875,936.5625,0.0000,1933.4375,679.3750,1175.6250,6.5625,...,1898.4375,3009.1375,2549.3750,1293.1156,744.6875,0.0000,69.0625,1651.5625,1250.3125,982.5000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
247,1,61.3497,209.2706,300.6135,676.8916,4.0900,866.3940,836.4008,903.8855,40.8998,...,2700.7498,2858.8957,1663.9400,2168.3640,1858.2140,0.0000,441.0361,586.9121,583.5037,732.1063
248,1,25.0447,89.7436,1050.3876,1677.6983,0.0000,1019.0817,2058.1395,2086.4639,3.8760,...,1367.0244,2176.7352,2595.4085,1222.4120,2648.4794,0.0000,471.9738,1548.5987,1888.4914,788.6106
249,0,18.8321,50.5493,631.0399,1997.8525,0.3304,821.6734,941.9344,912.1996,17.8409,...,2085.7355,2405.6562,3461.1382,1596.0981,665.7306,0.3304,1272.3218,763.8556,1522.4250,347.2371
250,0,17.2414,92.8100,825.3852,2262.6559,0.3668,1421.8635,960.7483,1231.1079,2.9347,...,2774.0279,2888.9142,4561.6288,1594.2296,653.7051,0.0000,392.5165,2422.9640,1749.0829,768.1585
251,0,30.6291,96.0265,541.6667,2443.4327,0.2759,2218.5403,1235.9272,961.6446,4.4150,...,2553.8079,2839.9558,4388.2450,1104.2908,602.6490,0.0000,411.4238,835.5408,1103.2009,713.3002

In [ ]:
## Divide the dataset into independent and dependent features
X=dataset.iloc[:,1:319]
y=dataset.iloc[:,0]

In [ ]:
X.head()

,ACAN,AGER,ALPK1,ANKRD17,APOB,APPL1,APPL2,ARRB2,ASGR1,ASGR2,...,UBE2N,UBE2V1,UBQLN1,UFD1,UNC93B1,USP17L2,VCAN,WDFY1,XIAP,ZCCHC3
0,13.6584,88.0205,402.5420,1424.2625,3.7940,1001.2330,508.0148,567.2010,13.6584,1.8970,...,2437.6363,3413.2107,4135.4453,950.0104,1434.1269,0.0000,31.8695,923.0769,1046.0021,819.1217
1,22.0844,86.3807,690.4861,2226.3285,20.4071,486.9744,1448.0640,651.9083,11.1820,9.5047,...,2153.9253,1817.3762,3426.4325,1380.1196,815.7241,0.0000,1651.0166,1473.7825,1618.8684,615.8465
2,32.7422,53.0820,128.4882,1073.0497,0.0000,654.8431,492.6206,512.9604,13.8906,1.4883,...,3122.4110,3720.6995,3000.3721,2681.3791,1429.2447,0.4961,693.5384,477.2417,1064.6161,804.1672
3,22.7975,42.1175,634.0804,3285.5487,0.0000,574.9614,513.9104,1033.2303,31.6847,3.8640,...,2663.4467,3217.9212,4131.3756,1178.8640,1018.5471,0.0000,675.0386,1596.5997,1666.1515,402.6275
4,2.5000,134.0625,532.1875,936.5625,0.0000,1933.4375,679.3750,1175.6250,6.5625,18.7500,...,1898.4375,3009.1375,2549.3750,1293.1156,744.6875,0.0000,69.0625,1651.5625,1250.3125,982.5000

In [ ]:
y.head()

0    0
1    0
2    0
3    0
4    0
Name: Labels, dtype: int64

In [ ]:
# Splitting dataset into training and testing data in 80-20 ratio

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=.20, random_state=1)

In [ ]:
#Standardization of the columns on the basis of mean and standard deviation ((x-u)/s)
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import MinMaxScaler
#scaler = StandardScaler()
scaler = MinMaxScaler()
X_train_scaled = pd.DataFrame(scaler.fit_transform(X_train))
X_test_scaled = scaler.transform(X_test)
X_train_scaled.columns=X_train.columns


X_train_scaled.head()

,ACAN,AGER,ALPK1,ANKRD17,APOB,APPL1,APPL2,ARRB2,ASGR1,ASGR2,...,UBE2N,UBE2V1,UBQLN1,UFD1,UNC93B1,USP17L2,VCAN,WDFY1,XIAP,ZCCHC3
0,0.052392,0.256173,0.271996,0.287841,0.000640,0.129934,0.092519,0.707040,0.191385,0.360957,...,0.329108,0.156286,0.243429,0.250066,0.163077,0.357775,0.058319,0.182665,0.278678,0.255062
1,0.117295,0.238372,0.120727,0.154466,0.000957,0.131743,0.059464,0.218033,0.066610,0.052523,...,0.271895,0.134948,0.165447,0.276307,0.524890,0.000000,0.003124,0.011855,0.053402,0.179296
2,0.004690,0.142060,0.357801,0.290964,0.000000,0.366404,0.252745,0.510260,0.062602,0.086610,...,0.403110,0.184463,0.147311,0.103979,0.266674,0.000000,0.008985,0.145320,0.250235,0.273344
3,0.197221,0.149236,0.202036,0.416587,0.000725,0.191636,0.033840,0.295048,0.064157,0.056852,...,0.173794,0.213069,0.353470,0.394186,0.017585,0.000000,0.031280,0.086055,0.233533,0.199989
4,0.013212,0.207934,0.139912,0.390334,0.001435,0.418698,0.136020,0.074865,0.018144,0.011248,...,0.840375,0.209128,0.572975,0.257327,0.184257,0.200720,0.249950,0.348193,0.287922,0.167063

In [ ]:
from sklearn.feature_selection import VarianceThreshold #Import the library
sel = VarianceThreshold(.02) # This will remove all zero-variance features
sf = sel.fit_transform(X_train_scaled) # The file will be saved in sf
sc = X_train.columns[sel.get_support(indices=True)] #This saves the columns names in sc variable
X_train_scaled[sc].head() #This will show the first few rows of selected features

,AGER,ALPK1,ANKRD17,APPL1,ARRB2,ATRN,BCL10,CASP8,CD14,CD163L1,...,TYRO3,UBB,UBC,UBE2D2,UBE2D3,UBE2N,UBQLN1,UNC93B1,WDFY1,XIAP
0,0.256173,0.271996,0.287841,0.129934,0.707040,0.119844,0.129981,0.501151,0.220716,0.377721,...,0.251685,0.510220,0.219142,0.306140,0.334078,0.329108,0.243429,0.163077,0.182665,0.278678
1,0.238372,0.120727,0.154466,0.131743,0.218033,0.209146,0.354362,0.827835,0.441856,0.123133,...,0.289266,0.439554,0.463484,0.459002,0.312867,0.271895,0.165447,0.524890,0.011855,0.053402
2,0.142060,0.357801,0.290964,0.366404,0.510260,0.439058,0.832156,0.263557,0.045723,0.019085,...,0.121861,0.517253,0.195691,0.445766,0.449577,0.403110,0.147311,0.266674,0.145320,0.250235
3,0.149236,0.202036,0.416587,0.191636,0.295048,0.248339,0.132038,0.185610,0.347709,0.122873,...,0.711629,0.441231,0.089657,0.339981,0.272177,0.173794,0.353470,0.017585,0.086055,0.233533
4,0.207934,0.139912,0.390334,0.418698,0.074865,0.119453,0.096144,0.365444,0.024173,0.020289,...,0.437887,0.248446,0.242083,0.484301,0.451235,0.840375,0.572975,0.184257,0.348193,0.287922

In [ ]:
## Part 2 NOw lets create ANN
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense
from tensorflow.keras.layers import LeakyReLU,PReLU,ELU,ReLU
from tensorflow.keras.layers import Dropout
import matplotlib.pyplot as plt
import numpy as np

In [ ]:
### Lets initialze the Ann
model=Sequential()

In [ ]:
# create model
model = Sequential()
model.add(Dense(60, activation='relu'))
model.add(Dense(40, activation='relu'))
model.add(Dense(30, activation='relu'))
#model.add(Dense(20, activation='relu'))
model.add(Dense(10, activation='relu'))
model.add(Dense(1, activation='sigmoid'))

In [ ]:
# Compile model
model.compile(loss='binary_crossentropy', optimizer='adam', metrics=['accuracy'])# by default adam add learning rate=0.1

In [ ]:
import tensorflow
opt=tensorflow.keras.optimizers.Adam()

In [ ]:
import tensorflow as tf
early_stopping=tf.keras.callbacks.EarlyStopping(
    monitor="val_loss",
    min_delta=0,
    patience=20,
    verbose=1,
    mode="auto",
    baseline=None,
    restore_best_weights=False,
    start_from_epoch=0,
)

In [ ]:
#model_history = model.fit(X_train,y_train,validation_split=0.20, batch_size=10,epochs=1000,callbacks=early_stopping)
model_history = model.fit(X_train_scaled,y_train,validation_data=(X_test_scaled,y_test), batch_size=10,epochs=100,callbacks=early_stopping)

Epoch 1/100
21/21 [==============================] - 8s 18ms/step - loss: 0.6962 - accuracy: 0.4577 - val_loss: 0.6934 - val_accuracy: 0.5098
Epoch 2/100
21/21 [==============================] - 0s 7ms/step - loss: 0.6833 - accuracy: 0.5572 - val_loss: 0.6833 - val_accuracy: 0.6275
Epoch 3/100
21/21 [==============================] - 0s 7ms/step - loss: 0.6681 - accuracy: 0.6368 - val_loss: 0.6774 - val_accuracy: 0.4902
Epoch 4/100
21/21 [==============================] - 0s 6ms/step - loss: 0.6531 - accuracy: 0.6418 - val_loss: 0.6763 - val_accuracy: 0.6471
Epoch 5/100
21/21 [==============================] - 0s 7ms/step - loss: 0.6254 - accuracy: 0.7114 - val_loss: 0.6709 - val_accuracy: 0.5294
Epoch 6/100
21/21 [==============================] - 0s 6ms/step - loss: 0.5818 - accuracy: 0.7214 - val_loss: 0.6643 - val_accuracy: 0.5490
Epoch 7/100
21/21 [==============================] - 0s 7ms/step - loss: 0.5436 - accuracy: 0.7413 - val_loss: 0.6753 - val_accuracy: 0.5490
Epoch 8/100
21/21 [==============================] - 0s 7ms/step - loss: 0.4758 - accuracy: 0.8259 - val_loss: 0.6891 - val_accuracy: 0.5882
Epoch 9/100
21/21 [==============================] - 0s 7ms/step - loss: 0.4120 - accuracy: 0.8458 - val_loss: 0.7022 - val_accuracy: 0.6078
Epoch 10/100
21/21 [==============================] - 0s 8ms/step - loss: 0.4056 - accuracy: 0.8358 - val_loss: 0.7246 - val_accuracy: 0.5686
Epoch 11/100
21/21 [==============================] - 0s 7ms/step - loss: 0.3215 - accuracy: 0.8756 - val_loss: 0.7494 - val_accuracy: 0.6471
Epoch 12/100
21/21 [==============================] - 0s 12ms/step - loss: 0.3177 - accuracy: 0.8507 - val_loss: 0.7962 - val_accuracy: 0.5882
Epoch 13/100
21/21 [==============================] - 0s 10ms/step - loss: 0.2866 - accuracy: 0.9005 - val_loss: 0.7951 - val_accuracy: 0.6471
Epoch 14/100
21/21 [==============================] - 0s 13ms/step - loss: 0.1785 - accuracy: 0.9602 - val_loss: 0.8533 - val_accuracy: 0.6471
Epoch 15/100
21/21 [==============================] - 0s 12ms/step - loss: 0.1251 - accuracy: 0.9652 - val_loss: 0.9156 - val_accuracy: 0.6471
Epoch 16/100
21/21 [==============================] - 0s 12ms/step - loss: 0.0995 - accuracy: 0.9801 - val_loss: 0.9888 - val_accuracy: 0.6667
Epoch 17/100
21/21 [==============================] - 0s 12ms/step - loss: 0.0764 - accuracy: 0.9851 - val_loss: 1.1466 - val_accuracy: 0.6275
Epoch 18/100
21/21 [==============================] - 0s 12ms/step - loss: 0.0466 - accuracy: 0.9950 - val_loss: 1.1598 - val_accuracy: 0.6667
Epoch 19/100
21/21 [==============================] - 0s 11ms/step - loss: 0.0338 - accuracy: 1.0000 - val_loss: 1.2075 - val_accuracy: 0.6667
Epoch 20/100
21/21 [==============================] - 0s 11ms/step - loss: 0.0300 - accuracy: 1.0000 - val_loss: 1.4266 - val_accuracy: 0.6667
Epoch 21/100
21/21 [==============================] - 0s 11ms/step - loss: 0.0273 - accuracy: 1.0000 - val_loss: 1.2551 - val_accuracy: 0.6667
Epoch 22/100
21/21 [==============================] - 0s 12ms/step - loss: 0.0831 - accuracy: 0.9701 - val_loss: 1.2638 - val_accuracy: 0.6667
Epoch 23/100
21/21 [==============================] - 0s 12ms/step - loss: 0.0334 - accuracy: 0.9950 - val_loss: 1.2699 - val_accuracy: 0.6471
Epoch 24/100
21/21 [==============================] - 0s 12ms/step - loss: 0.0121 - accuracy: 1.0000 - val_loss: 1.3400 - val_accuracy: 0.6275
Epoch 25/100
21/21 [==============================] - 0s 11ms/step - loss: 0.0068 - accuracy: 1.0000 - val_loss: 1.3658 - val_accuracy: 0.6471
Epoch 26/100
21/21 [==============================] - 0s 14ms/step - loss: 0.0053 - accuracy: 1.0000 - val_loss: 1.4518 - val_accuracy: 0.6471
Epoch 26: early stopping

In [ ]:
# list all data in history
print(model_history.history.keys())

dict_keys(['loss', 'accuracy', 'val_loss', 'val_accuracy'])

In [ ]:
# Prediction the Test set results
y_pred = model.predict(X_test)

y_pred = (y_pred >=0.5)
y_pred

2/2 [==============================] - 0s 5ms/step

array([[False],
       [ True],
       [False],
       [ True],
       [ True],
       [ True],
       [False],
       [False],
       [ True],
       [ True],
       [ True],
       [False],
       [ True],
       [ True],
       [False],
       [ True],
       [ True],
       [ True],
       [False],
       [False],
       [False],
       [False],
       [ True],
       [False],
       [ True],
       [False],
       [False],
       [ True],
       [ True],
       [ True],
       [False],
       [ True],
       [False],
       [False],
       [ True],
       [ True],
       [ True],
       [False],
       [False],
       [ True],
       [ True],
       [False],
       [False],
       [False],
       [False],
       [False],
       [ True],
       [False],
       [False],
       [False],
       [False]])

In [ ]:
## Calculate the accuracy
from sklearn.metrics import accuracy_score
score=accuracy_score(y_pred,y_test)
score

0.47058823529411764

In [ ]:
test_1=pd.read_csv("kaggle_test.csv")
test_1

,ID,ACAN,AGER,ALPK1,ANKRD17,APOB,APPL1,APPL2,ARRB2,ASGR1,...,UBE2N,UBE2V1,UBQLN1,UFD1,UNC93B1,USP17L2,VCAN,WDFY1,XIAP,ZCCHC3
0,1001,91.3265,132.5226,331.5548,1658.7666,0.0000,1068.6189,571.2868,699.8387,9.4305,...,1525.2513,3320.8537,2817.7193,1397.1957,367.7876,0.4963,699.3424,995.6570,1219.0098,840.7991
1,1002,17.5971,183.2524,558.8592,2321.6019,0.6068,929.0049,783.9806,1039.4417,27.3058,...,2489.6845,2102.5485,3799.1505,906.5534,1187.5000,0.0000,1967.2330,1529.7330,1083.1311,510.3155
2,1003,120.9309,221.8022,331.8437,891.7940,0.0000,309.4915,403.4852,1430.5385,49.8625,...,1760.6628,4822.9092,3718.4831,1907.9521,1732.0061,0.0000,1190.9692,1156.5812,710.6842,689.4783
3,1004,12.0930,41.8605,886.5116,2216.7442,0.0000,792.5581,1012.0930,637.2093,3.7209,...,1872.5581,2342.0093,3280.9302,1115.3116,773.0233,0.0000,63.2558,1065.1163,1385.1163,563.7209
4,1005,84.0622,34.4995,145.7726,1266.2779,0.4859,1362.4879,830.9038,1064.1399,85.5199,...,1932.9446,3220.9184,3153.5471,1168.6054,965.5005,0.0000,1168.6103,581.6327,878.5228,607.8717
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99,1100,92.7039,43.6988,403.5895,2001.4046,0.0000,1378.6968,858.6812,563.4023,11.8611,...,2470.2302,1898.9622,4007.4912,733.1970,600.8584,0.0000,7474.9902,1047.2103,2359.1104,482.5595
100,1101,38.0381,64.5365,238.0586,1686.0704,0.0000,733.8359,984.2890,960.3549,3.4192,...,2955.4313,2859.2676,4377.3720,1307.3948,646.2201,0.0000,859.0625,672.2912,847.5228,455.1749
101,1102,21.2202,56.1941,542.6859,1887.0223,0.0000,1254.7402,873.5632,791.8263,9.0382,...,1890.5590,3095.7854,3585.8139,1162.0002,909.7161,0.0000,1061.7939,1218.5873,1793.1034,308.0853
102,1103,6.6194,77.7783,702.4867,1428.1415,0.0000,874.5918,884.5210,723.5862,1.6549,...,1219.2158,1218.8021,1999.0671,1879.4747,1558.8752,0.8274,43.4400,905.6204,2779.7458,734.7564
103,1104,21.4563,46.0782,401.3377,1572.2869,0.0000,1709.4663,747.8036,726.6991,18.6423,...,1999.6535,2674.5410,2878.3052,1697.8589,1315.8670,0.0000,916.2880,670.7721,1110.8014,301.7947

In [ ]:



test_2=test_1.drop(["ID"],axis=1)
test_2

,ACAN,AGER,ALPK1,ANKRD17,APOB,APPL1,APPL2,ARRB2,ASGR1,ASGR2,...,UBE2N,UBE2V1,UBQLN1,UFD1,UNC93B1,USP17L2,VCAN,WDFY1,XIAP,ZCCHC3
0,91.3265,132.5226,331.5548,1658.7666,0.0000,1068.6189,571.2868,699.8387,9.4305,4.9634,...,1525.2513,3320.8537,2817.7193,1397.1957,367.7876,0.4963,699.3424,995.6570,1219.0098,840.7991
1,17.5971,183.2524,558.8592,2321.6019,0.6068,929.0049,783.9806,1039.4417,27.3058,16.9903,...,2489.6845,2102.5485,3799.1505,906.5534,1187.5000,0.0000,1967.2330,1529.7330,1083.1311,510.3155
2,120.9309,221.8022,331.8437,891.7940,0.0000,309.4915,403.4852,1430.5385,49.8625,15.4746,...,1760.6628,4822.9092,3718.4831,1907.9521,1732.0061,0.0000,1190.9692,1156.5812,710.6842,689.4783
3,12.0930,41.8605,886.5116,2216.7442,0.0000,792.5581,1012.0930,637.2093,3.7209,2.7907,...,1872.5581,2342.0093,3280.9302,1115.3116,773.0233,0.0000,63.2558,1065.1163,1385.1163,563.7209
4,84.0622,34.4995,145.7726,1266.2779,0.4859,1362.4879,830.9038,1064.1399,85.5199,0.9718,...,1932.9446,3220.9184,3153.5471,1168.6054,965.5005,0.0000,1168.6103,581.6327,878.5228,607.8717
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99,92.7039,43.6988,403.5895,2001.4046,0.0000,1378.6968,858.6812,563.4023,11.8611,18.1038,...,2470.2302,1898.9622,4007.4912,733.1970,600.8584,0.0000,7474.9902,1047.2103,2359.1104,482.5595
100,38.0381,64.5365,238.0586,1686.0704,0.0000,733.8359,984.2890,960.3549,3.4192,7.6931,...,2955.4313,2859.2676,4377.3720,1307.3948,646.2201,0.0000,859.0625,672.2912,847.5228,455.1749
101,21.2202,56.1941,542.6859,1887.0223,0.0000,1254.7402,873.5632,791.8263,9.0382,3.5367,...,1890.5590,3095.7854,3585.8139,1162.0002,909.7161,0.0000,1061.7939,1218.5873,1793.1034,308.0853
102,6.6194,77.7783,702.4867,1428.1415,0.0000,874.5918,884.5210,723.5862,1.6549,2.0686,...,1219.2158,1218.8021,1999.0671,1879.4747,1558.8752,0.8274,43.4400,905.6204,2779.7458,734.7564
103,21.4563,46.0782,401.3377,1572.2869,0.0000,1709.4663,747.8036,726.6991,18.6423,1.4070,...,1999.6535,2674.5410,2878.3052,1697.8589,1315.8670,0.0000,916.2880,670.7721,1110.8014,301.7947

In [ ]:
#Standardization of the columns on the basis of mean and standard deviation ((x-u)/s)
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import MinMaxScaler
#scaler = StandardScaler()
scaler = MinMaxScaler()
X3 = pd.DataFrame(scaler.fit_transform(test_2))
X3.columns=test_2.columns
X3.head()

,ACAN,AGER,ALPK1,ANKRD17,APOB,APPL1,APPL2,ARRB2,ASGR1,ASGR2,...,UBE2N,UBE2V1,UBQLN1,UFD1,UNC93B1,USP17L2,VCAN,WDFY1,XIAP,ZCCHC3
0,0.404906,0.322919,0.233243,0.305857,0.000000,0.381953,0.088359,0.151479,0.083893,0.067632,...,0.227940,0.193983,0.403325,0.098438,0.019034,0.241321,0.048959,0.220983,0.254192,0.428529
1,0.071326,0.463255,0.429300,0.486808,0.001055,0.318542,0.147082,0.268968,0.257080,0.231511,...,0.551206,0.081554,0.651648,0.025700,0.159292,0.000000,0.141589,0.408127,0.203716,0.202132
2,0.538847,0.569896,0.233492,0.096476,0.000000,0.037167,0.042030,0.404273,0.475624,0.210858,...,0.306847,0.332596,0.631238,0.174158,0.252460,0.000000,0.084877,0.277371,0.065362,0.324867
3,0.046423,0.072117,0.711910,0.458182,0.000000,0.256570,0.210062,0.129812,0.028575,0.038026,...,0.344353,0.103652,0.520527,0.056649,0.088373,0.000000,0.002488,0.245322,0.315896,0.238717
4,0.372039,0.051754,0.073000,0.198709,0.000845,0.515425,0.160037,0.277513,0.821095,0.013242,...,0.364594,0.184760,0.488297,0.064550,0.121307,0.000000,0.083243,0.075905,0.127710,0.268963

In [ ]:
test_3=X3[sc]
test_3

,AGER,ALPK1,ANKRD17,APPL1,ARRB2,ATRN,BCL10,CASP8,CD14,CD300A,...,TSPAN6,TYRO3,UBB,UBC,UBE2D2,UBE2D3,UBE2N,UBQLN1,UNC93B1,WDFY1
0,0.322919,0.233243,0.305857,0.381953,0.151479,0.293305,0.089797,0.382287,0.093019,0.105112,...,0.150193,0.292710,0.255215,0.113476,0.364011,0.418770,0.227940,0.403325,0.019034,0.220983
1,0.463255,0.429300,0.486808,0.318542,0.268968,0.121300,0.234895,0.407697,0.205272,0.244756,...,0.079499,0.202051,0.209831,0.180662,0.201166,0.691707,0.551206,0.651648,0.159292,0.408127
2,0.569896,0.233492,0.096476,0.037167,0.404273,0.089254,0.189951,0.327793,1.000000,0.774793,...,0.041616,0.062757,0.702964,0.434575,0.315470,0.525857,0.306847,0.631238,0.252460,0.277371
3,0.072117,0.711910,0.458182,0.256570,0.129812,0.214378,0.374250,0.397026,0.069717,0.069618,...,0.122665,0.201402,0.165086,0.226830,0.251345,0.618806,0.344353,0.520527,0.088373,0.245322
4,0.051754,0.073000,0.198709,0.515425,0.277513,0.459358,0.092477,0.033641,0.015848,0.076146,...,0.117539,0.312551,0.229359,0.073590,0.077153,0.047915,0.364594,0.488297,0.121307,0.075905
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99,0.077202,0.295375,0.399395,0.522787,0.104277,0.172600,0.472749,0.186828,0.121770,0.176609,...,0.383462,0.175319,0.129034,0.364244,0.439219,0.582846,0.544686,0.704363,0.058914,0.239047
100,0.134847,0.152600,0.313310,0.229899,0.241607,0.215860,0.683405,0.292095,0.049185,0.093115,...,0.089772,0.127546,0.240542,1.000000,0.512664,0.879008,0.707319,0.797951,0.066676,0.107673
101,0.111769,0.415350,0.368169,0.466487,0.183303,0.156401,0.396544,0.276590,0.125380,0.253786,...,0.270460,0.254868,0.236057,0.584871,0.413642,0.844329,0.350387,0.597669,0.111762,0.299099
102,0.171478,0.553183,0.242897,0.293828,0.159695,0.214385,0.107161,0.402058,0.037665,0.048222,...,0.310921,0.212379,0.527882,0.152233,0.265537,0.442708,0.125360,0.196188,0.222837,0.189433
103,0.083785,0.293433,0.282248,0.673018,0.160772,0.039945,0.321589,0.510211,0.180443,0.146386,...,0.035088,0.035729,0.843210,0.283711,0.564038,0.681783,0.386954,0.418655,0.181257,0.107140

In [ ]:
y_preds2=model.predict(test_3)
y_preds2 = (y_preds2 >=0.5)

4/4 [==============================] - 1s 4ms/step

In [ ]:
ypred3 = []
for x in y_preds2:
  ypred3.append(int(x))
ypred3

[1,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 1,
 1,
 0,
 0,
 0,
 1,
 0,
 1,
 0,
 0,
 0,
 1,
 0,
 1,
 0,
 0,
 0,
 1,
 0,
 1,
 1,
 0,
 0,
 0,
 0,
 0,
 1,
 1,
 0,
 0,
 1,
 1,
 0,
 0,
 1,
 1,
 0,
 1,
 0,
 0,
 0,
 1,
 0,
 0,
 1,
 1,
 1,
 1,
 1,
 1,
 0,
 0,
 1,
 1,
 0,
 0,
 1,
 0,
 0,
 1,
 0,
 0,
 0,
 1,
 1,
 1,
 1,
 1,
 0,
 1,
 0,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 0,
 0,
 0,
 1,
 0,
 1,
 0]

In [ ]:
ID_1=test_1.iloc[:,0]
df_test = pd.DataFrame(data = ID_1, columns = ['ID'])
df_test['Labels'] = ypred3
df_test

       ID  Labels
0    1001       1
1    1002       0
2    1003       0
3    1004       0
4    1005       0
..    ...     ...
99   1100       0
100  1101       1
101  1102       0
102  1103       1
103  1104       0

[104 rows x 2 columns]

In [ ]:
import tensorflow as tf
from tensorflow import keras
from tensorflow.keras import layers
from kerastuner.tuners import RandomSearch

# Define the hyperparameter search space
tuner = RandomSearch(
    build_model,
    objective='val_accuracy',
    max_trials=10,
    directory='my_dir',
    project_name='my_project')

# Define the model architecture
def build_model(hp):
    model = keras.Sequential()
    model.add(layers.Dense(units=hp.Int('units',
                                        min_value=32,
                                        max_value=512,
                                        step=32),
                           activation=hp.Choice('dense_activation',
                                                values=['relu', 'tanh', 'sigmoid'],
                                                default='relu')))
    model.add(layers.Dropout(rate=hp.Float('dropout_rate',
                                           min_value=0.0,
                                           max_value=0.5,
                                           default=0.25,
                                           step=0.05)))
    model.add(layers.Dense(10, activation='softmax'))

    # Define the optimizer
    optimizer = hp.Choice('optimizer', ['adam', 'sgd', 'rmsprop'])

    # Compile the model with the selected optimizer
    model.compile(optimizer=optimizer,
                  loss='sparse_categorical_crossentropy',
                  metrics=['accuracy'])
    return model

# Load the data
(x_train, y_train), (x_test, y_test) = keras.datasets.mnist.load_data()

# Normalize the data
x_train = x_train.astype('float32') / 255.0
x_test = x_test.astype('float32') / 255.0

# Fit the model
tuner.search(x_train, y_train, epochs=5, validation_split=0.2)

# Evaluate the best model
best_model = tuner.get_best_models(num_models=1)[0]